<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDBReadAccessToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkZmQ4OGZkMWY2Y2Y1YzI4NDBhMDA2YThlZDIyNTE1MSIsIm5iZiI6MTcxMjc0OTgyNS4zNDYsInN1YiI6IjY2MTY3ZDAxNGRhM2Q0MDBlNzE0N2UzNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.RG9ULN3IsBGgx-f7prDXWaYHPnsUgrLuXU-MxtM94hw</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
